* {
  /*Sets background and all fonts*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}

body {
  /*Sets background of entire page and text colour*/
  background-color: #121212;
  color: #f0f0f0;
}

header {
  /*Styles the header with flex box for alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

/*Suggestify logo style*/
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

/*Creates space between item in navigation bar*/
nav ul li {
  margin-right: 20px;
}

/*Removes navigation links underlines and sets colour to default*/
nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

.auth a {
  /*Basic style for login/signup buttons*/
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
  color: #f0f0f0;
  background-color: #333;
  border-radius: 5px;
}

.hero {
  height: 400px;
  /*Blured background image similar to Netflix */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/images/netflix.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  /*Main heading font size and alignment*/
  font-size: 3rem;
  text-align: center;
}

.hero-content .search-bar {
  /*Center search bar*/
  display: block;
  margin: 25px auto;
}


.search-bar {
  /*Style for search bar*/
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

.movies-section {
  padding: 40px 20px;
}

.movies-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.movie-grid {
  /*Grid layout*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.movie {
  /*Temporary movie container style display*/
  background-color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
}

